// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.pair-programming-z {

}

.pair-programming-z_cursor {

}

.blink {
  animation: pair-programming-z_cursor-animation .8s infinite;
}

@keyframes pair-programming-z_cursor-animation {
  0% {
    visibility: visible;
  }

  49% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}
